
#link-img {
  height: 30px;
  width: 30px;
}

#container-card {
  border-color: grey;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  margin: 5px;
  height: 110px;
}

#button{
  margin: 5px
}

#card-font{
  margin: 5px
}